body{
    background-color: rgba(216, 214, 212, 0.816);
}


/* navbar */
.navbar {
    background-color: rgb(0, 0, 0);
}

.navbar .container-fluid .collapse .navbar-nav .nav-item a {
    font-family: "Rufina", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    transition: 0.5s;
    color: rgb(255, 255, 255);
}

.navbar .container-fluid .collapse .navbar-nav .nav-item a:hover {
    transform: scale(1.1);
    color: orange;
}



/* background img */
.header-col2{
    background: url("./../images/services-images/services1.jpg");
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100vw;
    margin-top: 00px;
   }
   
   .header-col1{
       position: absolute;
       width: 50vw;
       text-align: center;
       left: 25%;
       top: 40%;
       letter-spacing: 3px;
   }
   .header-col1 h5{
       font-weight: 30; 
   }
   .page-name{
       text-align: center;
       font-family: 'Times New Roman', Times, serif;
       font-size: 100px;
   }

   /* cards */
.cards{
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}
.card{
    transition: 1s;
}
.card:hover{
    box-shadow:1px 1px 1px 2px grey;
    transform: scale(1.0);
}

.head {
    min-height: 90px;
    width: 100%;
    background-color: #000000;
    background-image: linear-gradient(225deg, #000000 0%, #ffa500 91%);
}

.head {
    color: rgb(255, 255, 255);
    font-size: 36px;
    line-height: 90px;
    text-align: center;
    font-family: "Rufina", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin: 30px auto;
}
.aboutcompany{
    
    font-size: 50px;
    font-weight: 900;
    padding-top:17px ;
    height: 90px;
    margin-top: 100px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline orange;
}

.logo{
    display: flex;
    justify-content: space-evenly;
}
.logo:hover{
    transform: scale(1.0);
}  

.logo1{
    height: 100px;
    width: 80px;
    margin-left: 0px;
    margin-top: 100px;
    transition: 1s;
    
}
.logo1:hover{
    transform: scale(1.1);
}  

.logo2{
    height: 100px;
    width: 80px;
    margin-left: 0px;
    margin-top: 100px;
    transition: 1s;
}
.logo2:hover{
    transform: scale(1.1);
}  

.logo3{
    height: 100px;
    width: 80px;
    margin-left: 0px;
    margin-top: 100px;
    transition: 1s;
}
.logo3:hover{
    transform: scale(1.1);
}  
.corevalue{

    font-size: 50px;
    font-weight: 900;
    padding-top:17px ;
    height: 90px;
    margin-top: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline orange;

}

    
.corevalue:hover{
    
    text-decoration: underline;
}
.logo4{
    height: 100px;
    width: 80px;
    margin-left: 0px;
    margin-top: 40px;
    transition: 1s;
}
.logo4:hover{
    transform: scale(1.1);
}  
.logo5{
    height: 100px;
    width: 80px;
    margin-left: 0px;
    margin-top: 40px;
    transition: 1s;
    
}
.logo5:hover{
    transform: scale(1.1);
}  

.logo6{
    height: 100px;
    width: 80px;
    margin-left: 0px;
    margin-top: 40px;
    transition: 1s;
}
.logo6:hover{
    transform: scale(1.1);
}  


/* footer */
footer {
    width: 100vw;
    background-color: black;
    min-height: 550px;
    align-content: center;
    border-bottom: 2px solid white;
}

.footer-box {
    min-height: 500px;
    width: 85vw;
    /* border: 1px solid white; */
    margin: auto;
    align-content: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 2px solid white;
}

.address {
    min-height: 375px;
    width: 550px;

    align-content: center;
    /* border: 1px solid white; */
}

.address img {
    max-height: 150px;
    max-width: 200px;
    display: block;
    margin: auto;
}

.address .add {


    height: auto;
    /* border: 1px solid white; */
    width: 550px;
    /* padding: 5px; */

}

.address .add span {
    color: orange;
    font-size: 40px;
    /* line-height: 50px; */
    text-align: center;
    margin: auto 20px;
    /* margin-top: 20px !important; */
}

.address .add p {
    color: rgb(255, 255, 255);
    font-size: 22px;
    line-height: 32px;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    margin: 10px auto;
    /* display: block; */
    text-align: center;
}

.pages {
    align-content: center;
    margin: auto;
    /* border: 1px solid #ffffff; */
    align-content: center;
}

.page {
    height: 375px;
    width: 250px;
    /* border: 1px solid white; */
    /* margin:30px auto; */

}


.pages a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 22px;
    line-height: 32px;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    display: block;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.pages a:hover {
    color: orange;
}

.dot {
    height: 375px;
    width: 250px;
    margin: 20px;
    /* margin-top: 70px; */
    /* border: 1px solid white; */
}

.dot h1 {
    color: orange;
    font-size: 40px;
    line-height: 48px;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.info .icons {
    line-height: 60px;
    margin: auto;
    margin-top: 35px !important;
}

.info i {
    display: block;
    justify-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 17px;
}

.info i:hover {
    color: orange;
}


