body {
    margin: 0;
    padding: 0;
    background-color: rgba(216, 214, 212, 0.816);
    overflow-x: hidden;
}

/* media query */
@media screen and (max-width: 950px) {
    

    .addr{
        margin: auto;
    }

    .isolate{
        margin: 30px auto;
    }

    .address{
        width: auto;
    }

    .address .add{
        width: auto;
    }

    footer{
        height: auto;
    }

    .footer-box{
        height: auto;
    }
}




/* navbar */
.navbar {
    background-color: rgb(0, 0, 0);
}

.navbar .container-fluid .collapse .navbar-nav .nav-item a {
    font-family: "Rufina", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    transition: 0.5s;
    color: rgb(255, 255, 255);
}

.navbar .container-fluid .collapse .navbar-nav .nav-item a:hover {
    transform: scale(1.1);
    color: orange;
}

/* image main */
section {
    background: url(./../images/services-images/service5.jpg) no-repeat;
    background-size: cover;
    height: 700px;
    position: relative;
}

section .box {
    height: 700px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.171);
    opacity: 0.6;
    align-content: center;
}

section .box .main-para {
    min-height: 300px;
    max-width: 800px;
    z-index: 5;
    margin: auto;

}

section .box h1 {
    color: rgb(255, 255, 255);
    font-size: 100px;
    line-height: 110px;
    text-align: center;
    font-family: "Rufina", serif;
    font-weight: 700;
    font-style: normal;
}

/* head */
.head {
    min-height: 90px;
    width: 100%;
    background-color: #000000;
    background-image: linear-gradient(225deg, #000000 0%, #ffa500 91%);
}

.head h1 {
    color: rgb(255, 255, 255);
    font-size: 36px;
    line-height: 90px;
    text-align: center;
    font-family: "Rufina", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin: 30px auto;
}

.contact {
    min-height: 700px;
    width: auto;
    /* border: 1px solid black; */
    align-content: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 30px;
}

.addr {
    min-height: 700px;
    width: 680px;
    background-color: rgba(255, 166, 0, 0.176);

}

.addr img {
    max-height: 300px;
    max-width: 350px;
    display: block;
    margin: auto;

}

.addr .ad {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    /* border: 1px solid black; */
    max-width: 300px;
    margin: 50px auto;
    align-content: center;
}

.addr .ad span {
    color: orange;
    font-size: 40px;


}

.addr .ad p {
    color: black;
    font-size: 22px;
    line-height: 32px;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
    text-align: center;
}



.isolate {
    /* min-height: 700px; */
    width: 700px;
    background-color: rgba(255, 166, 0, 0.176);
}

form {

    min-height: 680px;



}







/* footer */
footer {
    width: 100vw;
    background-color: black;
    min-height: 600px;
    align-content: center;
    border-bottom: 2px solid white;
}

.footer-box {
    min-height: 500px;
    width: 85vw;
    /* border: 1px solid white; */
    margin: auto;
    align-content: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 2px solid white;
}

.address {
    min-height: 375px;
    width: 550px;
    
    align-content: center;
    /* border: 1px solid white; */
}

.address img {
    max-height: 150px;
    max-width: 200px;
    display: block;
    margin: auto;
}

.address .add {
    
    
    height: auto;
    /* border: 1px solid white; */
    width: 550px;
    /* padding: 5px; */

}

.address .add span {
    color: orange;
    font-size: 40px;
    /* line-height: 50px; */
    text-align: center;
    margin: auto 20px ;
    /* margin-top: 20px !important; */
}

.address .add p {
    color: rgb(255, 255, 255);
    font-size: 22px;
    line-height: 32px;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    margin:10px auto;
    /* display: block; */
    text-align: center;
}

.pages {
    align-content: center;
    margin: auto;
    /* border: 1px solid #ffffff; */
    align-content: center;
}

.page {
    height: 375px;
    width: 250px;
    /* border: 1px solid white; */
    /* margin:30px auto; */

}


.pages a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 22px;
    line-height: 32px;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    display: block;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.pages a:hover {
    color: orange;
}

.dot {
    height: 375px;
    width: 250px;
    margin: 20px;
    /* margin-top: 70px; */
    /* border: 1px solid white; */
}

.dot h1 {
    color: orange;
    font-size: 40px;
    line-height: 48px;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.info .icons {
    line-height: 60px;
    margin: auto;
    margin-top: 35px !important;
}

.info i {
    display: block;
    justify-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 17px;
}

.info i:hover {
    color: orange;
}