body {
    margin: 0;
    padding: 0;
    background-color: rgba(216, 214, 212, 0.816);
    overflow-x: hidden;
}


/* media query */
@media screen and (max-width: 950px) {
    section .box .main-para {
        margin: 20px;
    }

    .service-images img {
        margin: 20px 0px;
    }

    .review .para {
        width: 250px;
    }

    .review img {
        margin: auto;
    }

    .review .para p {
        text-align: center;
    }

    .review .para h5 {
        text-align: center;
    }

    footer {
        height: auto;
    }

    .footer-box {
        height: auto;
    }
}





/* navbar */
.navbar {
    background-color: rgb(0, 0, 0);
}

.navbar .container-fluid .collapse .navbar-nav .nav-item a {
    font-family: "Rufina", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    transition: 0.5s;
    color: rgb(255, 255, 255);
}

.navbar .container-fluid .collapse .navbar-nav .nav-item a:hover {
    transform: scale(1.1);
    color: orange;
}

/* image main */
section {
    background: url(./../images/home-images/main.webp) no-repeat;
    background-size: cover;
    height: 700px;
    position: relative;
}

section .box {
    height: 700px;
    width: auto;
    background-color: black;
    opacity: 0.6;
    align-content: center;
}

section .box .main-para {
    min-height: 300px;
    max-width: 800px;
    z-index: 5;
    margin: auto;

}

section .box h1 {
    color: rgb(255, 255, 255);
    font-size: 72px;
    line-height: 80px;
    text-align: center;
    font-family: "Rufina", serif;
    font-weight: 700;
    font-style: normal;
}

section .box p {
    font-size: 24px;
    line-height: 36px;
    color: rgb(255, 255, 255);
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}


.transform {
    margin: 30px;
    background: url("./../images/home-images/photo-1587582423116-ec07293f0395.jpeg") no-repeat;
    height: 90vh;
    background-size: cover;
    align-content: start;
    display: block;
    transition: 1s;

}

.transform:hover {
    opacity: 0.8;
}

.transform:hover>.transform-para {
    opacity: 1;
}

.transform:hover>.transform-para>h1 {
    background-color: #0000005b;
    background-image: linear-gradient(330deg, #000000fb 30%, #ffa600 80%);

}

.transform:hover>.transform-para>p {
    background-color: #0000005b;
    background-image: linear-gradient(330deg, #000000fb 30%, #ffa600 80%);

}

.transform .transform-para {
    /* border: 3px solid red; */
    width: 1000px;
    height: 550px;
    margin: 30px;
    opacity: 0;
    transition: 2s;
}

.transform-para h1 {
    color: rgb(255, 255, 255);
    font-size: 72px;
    line-height: 80px;
    font-family: "Rufina", serif;
    font-weight: 700;
    font-style: normal;
    width: auto;
    transition: 2s;
}


.transform-para p {

    color: rgb(255, 255, 255);
    font-size: 28px;
    line-height: 36px;
    font-family: "Rufina", serif;
    font-weight: 700;
    font-style: normal;
    transition: 2s;
}









/* head */
/* head */
.head {
    min-height: 90px;
    width: 100%;
    background-color: #000000;
    background-image: linear-gradient(225deg, #000000 0%, #ffa500 91%);
}

.head h1 {
    color: rgb(255, 255, 255);
    font-size: 36px;
    line-height: 90px;
    text-align: center;
    font-family: "Rufina", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin: 30px auto;
    text-decoration: underline;
}

/* service */
.service-points {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-points .point {
    margin-top: 10px;
    height: 200px;
    width: 400px;
    animation-name: over-anime;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.3, 0.02, 0.35, 0.98);
}

.point1 {
    position: relative;
}


.point2 {
    position: relative;
}

.point3 {
    position: relative;
}

.point span {
    font-size: 45px;
    font-weight: 600;
    color: orange;
    text-align: center;
    display: block;
}

.point h3 {
    color: black;
    font-size: 32px;
    line-height: 40px;
    font-family: "Rufina", serif;
    font-weight: 700;
    font-style: normal;
}

.point p {
    color: black;
    font-size: 18px;
    line-height: 28px;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}


/* images */
#block {
    /* padding: 5rem 0 10rem 0; */
    height: 300px;
    width: 96vw;
    margin: 50px;
    /* border: 1px solid black; */
    align-content: center;
}

#block h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    /* margin-bottom: 40px; */
    text-transform: uppercase;
    color: #555;
}

.block-container {
    height: 250px;
    width: 90vw;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;

    align-content: center;

}

.block-container img {
    display: block;
    width: 100%;

    max-height: 250px;
    object-fit: cover;
    object-position: center;
}

.img-container {
    margin: 0 1rem;
    position: relative;
    /* border-radius: 10px; */
}

.img-container img {
    height: 300px;
    width: 400px;
    
    border-radius: 10px;
}

.img-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all 0.3s ease-in-out 0.1s;
}

.img-content h3 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    line-height: 40px;
    font-family: "Rufina", serif;
    font-weight: 700;
    font-style: normal;
}

.img-content a {
    font-size: 1.2rem;
}

.img-container::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.715);
    opacity: 0;
    z-index: 1;
    border-radius: 10px;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.5s ease-in-out;
    border: 4px solid orange;
}

.img-container:hover::after {
    opacity: 1;
    transform: scaleY(1);
}

.img-container:hover .img-content {
    opacity: 1;
    top: 40%;
}




/* building dreams */
.dreams-points {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.dreams-points .point {
    margin-top: 50px;
    height: 200px;
    width: 300px;
    animation-name: over-anime;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.3, 0.02, 0.35, 0.98);
}

.dreams-points h3 {
    text-align: center;
    color: orange;
}

.dreams-points p {
    text-align: center;
}


/* review */
/* 
.review {
    min-height: 500px;


}

.review .para {
    margin: auto;
    max-width: 950px;
}

.review img {
    height: 120px;
    width: 120px;
    display: block;
    border-radius: 50%;
    border: 6px solid orange;
    margin: 10px;
}

.review .para p {
    color: black;
    font-size: 32px;
    line-height: 40px;
    font-family: "Rufina", serif;
    font-weight: 700;
    font-style: normal;
}

.review .para h5 {
    font-size: 18px;
    line-height: 28px;
    color: orange;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
} */



/* footer */
footer {
    width: 100vw;
    background-color: black;
    min-height: 550px;
    align-content: center;
    border-bottom: 2px solid white;
}

.footer-box {
    min-height: 500px;
    width: 85vw;
    /* border: 1px solid white; */
    margin: auto;
    align-content: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 2px solid white;
}

.address {
    min-height: 375px;
    width: 550px;

    align-content: center;
    /* border: 1px solid white; */
}

.address img {
    max-height: 150px;
    max-width: 200px;
    display: block;
    margin: auto;
}

.address .add {


    height: auto;
    /* border: 1px solid white; */
    width: 550px;
    /* padding: 5px; */

}

.address .add span {
    color: orange;
    font-size: 40px;
    /* line-height: 50px; */
    text-align: center;
    margin: auto 20px;
    /* margin-top: 20px !important; */
}

.address .add p {
    color: rgb(255, 255, 255);
    font-size: 22px;
    line-height: 32px;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    margin: 10px auto;
    /* display: block; */
    text-align: center;
}

.pages {
    align-content: center;
    margin: auto;
    /* border: 1px solid #ffffff; */
    align-content: center;
}

.page {
    height: 375px;
    width: 250px;
    /* border: 1px solid white; */
    /* margin:30px auto; */

}


.pages a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 22px;
    line-height: 32px;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    display: block;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.pages a:hover {
    color: orange;
}

.dot {
    height: 375px;
    width: 250px;
    margin: 20px;
    /* margin-top: 70px; */
    /* border: 1px solid white; */
}

.dot h1 {
    color: orange;
    font-size: 40px;
    line-height: 48px;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.info .icons {
    line-height: 60px;
    margin: auto;
    margin-top: 35px !important;
}

.info i {
    display: block;
    justify-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 17px;
}

.info i:hover {
    color: orange;
}