body{
    background-color: rgba(216, 214, 212, 0.816);
}

/* background img */
.header-col2{
 background: url("./../images/services images/services1.jpg");
 background-position: center ;
 background-repeat: no-repeat;
 background-size: cover;
 height: 80vh;
 width: 100vw;
 margin-top: 00px;
}

.header-col1{
    position: absolute;
    width: 50vw;
    text-align: center;
    left: 25%;
    top: 32%;
    letter-spacing: 3px;
    display: flex;
    flex-wrap: wrap;

}
.header-col1 h5{
    font-weight: 30; 
}
.page-name{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
}


/* 2nd image and heading */
.heading{
    font-size: 50px;
    font-weight: 900;
    padding-top:17px ;
    height: 90px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline orange;
}
@media (max-width:600px){
.img-fluid{
    height: 700px;
    width: 900px;
    margin-top:60px ;
    margin-left: 300px;
    margin-bottom:60px ;
}
}
/* cards */
.row{
    margin-top: 80px;
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    justify-content: space-between;
}
.img{
    transition: 1s;
}
.img:hover{
    transform: scale(1.1);
    box-shadow: 1px 3px 20px 10px grey;
}
.h2{
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: left;
}
.p{
    color: rgb(0, 0, 0);
    text-align: left;
}












