body {
    overflow-x: hidden;
}

@media screen and (max-width: 950px) {
    section {
        height: auto;

    }

    .box{
        width: auto;
    }
}

section {
    background: url("./../images/sign/sign.jpeg") no-repeat;
    background-size: cover;
    width: 100vw;
    align-content: center;
    
}

img {
    height: 100px;
    width: 150px;
}

form {
    background-color: black;
    min-height: 850px;
    /* width: 50vw; */
    opacity: 0.7;
    margin: auto;
    align-content: center;
}

.main h2 {
    font-size: 36px;
    line-height: 48px;
    color: rgb(255, 255, 255);
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.box {
    
    /* margin: auto; */
    min-height: auto;
    width: 50vw;
    border: 1px solid red;
    margin: auto;
    align-content: center;
}


.main {
    min-height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.8;
    align-content: center;
    margin: auto;
}